* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}



.megascreen {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(81, 61, 237, 0.6);
    padding: 50px 35px;

}

label {
    margin: 10px;
    font-size: 14px;
}

#location {
    height: 40px;
    width: 300px;
    border: 1px solid rgb(66, 92, 240);
    border-radius: 7px;
    text-align: end;
    text-transform: uppercase;
}

.container {
    width: 100%;
    margin-top: 40px;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 160px 160px;
    row-gap: 20px;
    column-gap: 6px;
}

.inner-container {
    border-radius: 10px;
    height: 140px;
    box-shadow: 0px 6px 10px rgba(81, 61, 237, 0.6);
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: 55% 37%;
}
.inner-container .font-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: rgb(77, 77, 233);
    /* background-color: aqua; */
}
#temperature .text, #humidity .text{
    font-size: 18px;
    font-weight: 600;
}
#cloud .text{
    font-size: 18px;
    font-weight: 600;
}
#cloud .cloud-img{
    font-size: 40px;
}
#humidity .humidity{
    font-size: 40px;
}
#other-info .other-info{
    font-size: 40px;
}
span{
    font-size: 11px;
}
#other-info .text{
    font-size: 11px;
    font-weight: 600;

}
#tex-decor{
    font-size: 15px;
}